span{
	font-style:italic;
}
body{
	background-color:black;
	font-family:courier;
	text-align:left;
	color:#00ff00;
}
.buttons{
	display:inline;
	border:1px #00ff00 solid;
	border-radius:50px;
	padding:5px;
	text-decoration:none;
}
#one{
	font-size:32px;
}